    <h1>{{title}}</h1>
    <form action="contact" method="GET">
        <input type="text" placeholder="Votre Nom" required><br>
        <input type="text" placeholder="Votre Prenom" required><br>
        <input type="email" placeholder="votre Email" required><br>
        <input type="tel" placeholder="Votre Telephone" required><br>
        <select name="demande" id="demande" required><br>
            <option value="inscription">Inscription</option>
            <option value="demandeFormation">Demande de la Formation</option>
        </select><br>
        <textarea name="champDemande" id="champDemande" cols="30" rows="10" required></textarea>
        <input type="submit" value="submit">
    </form>