    <h1>{{title}}</h1>
    <h2>Formations Nodejs</h2>
    <ul>
        {{#each formations}}
                <h2>{{this.title}}</h2>
                <h3>{{this.description}}</h3>
                <p>Nodejs dolor sit amet consectetur adipisicing elit. Error praesentium quas ex! Explicabo, maxime unde autem aliquid animi consequuntur ullam enim laboriosam nemo, debitis itaque aut vel inventore est optio.
                Aliquid doloremque, earum tempora sapiente dolor eius ipsa explicabo veniam tenetur id eligendi odit possimus dolorem adipisci iste labore totam expedita aliquam laboriosam aperiam consequuntur magnam voluptate. Sint, temporibus perferendis?</p>
                <h3>{{this.href}}</h3>
                <a href="nodejs">Cliquez ici pour consulter la formation</a>
                <br><br>
        {{/each}}
    </ul>
    <h2>Formations MongoDB</h2>
    <ul>
        {{#each formations}}
                <h2>{{this.title}}</h2>
                <h3>{{this.description}}</h3>
                <p>MongoDB, dolor sit amet consectetur adipisicing elit. Minus nobis laboriosam sint cum ea. Corporis, nostrum nesciunt. Illum dicta consectetur quibusdam voluptatum ea reiciendis corporis! Quod voluptatem assumenda corporis eligendi!
                Iusto qui dolorem, recusandae asperiores veritatis consectetur eaque illo enim doloribus expedita aliquam harum amet numquam laborum accusantium id vitae, laudantium fuga. At tempore sapiente deserunt reprehenderit ex ipsam odio.<p>
                <h3>{{this.href}}</h3>
                <a href="web">Cliquez ici pour vous inscrire</a>
                <br>
        {{/each}}
    </ul>