<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <header>
    <h1>Menu</h1>
    <nav>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="blog">Blog</a></li>
            <li><a href="formations">Nos formations</a></li>
            <li><a href="contact">Nous contacter</a></li>
        </ul>
    </nav>
</header>
  <body>
    {{{body}}}
  </body>
</html>
