    <h1>Formation Web</h1>
    <h2>Description:</h2>
    <h3><strong>Pour vous Inscrire des frais de 420 $ seront demander</strong></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus nesciunt numquam dolor nisi commodi dolorum eum doloremque voluptate error asperiores vitae consequuntur, doloribus consequatur explicabo quia illo iure amet quam libero. Iure odit in maiores necessitatibus minus fugit dolorum ullam nulla repudiandae placeat libero ratione qui vitae voluptatibus, illo neque, dolor sequi maxime iste odio tenetur dolore enim! Ratione minima iusto explicabo eligendi, aperiam eaque architecto illum, harum inventore cum dolor voluptatem magni neque id commodi eius aut tempora numquam ea quaerat autem voluptates! Blanditiis, assumenda quasi, quisquam ipsam ut placeat magni eaque iste delectus ab laudantium at voluptatibus ad!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia beatae porro, neque ipsam inventore ad culpa animi. Expedita, voluptas laborum aspernatur, quia necessitatibus nam similique fugit maxime ab esse mollitia id impedit voluptatibus, dolores molestiae excepturi eius dolorem nobis a nisi? Ullam corporis assumenda officia quae sint nobis autem fugit, incidunt alias. Ullam numquam id dolorem nihil corporis fuga accusamus voluptate nulla quam, dolores vel ad pariatur reiciendis veritatis sapiente dolorum blanditiis est. Perspiciatis, consequatur.</p>
    <br>